
/*************************************

Template Name: Apps - Responsive APP Landing Page
Author: perfect_coders
Version: 1.0
Design and Developed by: perfect_coders

NOTE: This is main stylesheet of the template.

****************************************/


/*================================================
            Table of contents  
==================================================
 
00. BASE CSS
01. PRELOADER
02. SECTION TITLE AND SECTION PADDING
03. HEADER AREA
04. HOME AREA
05. ABOUT AREA
06. FEATURE AREA
07. CHOOSE AREA
08. SCREENSHOOT AREA
09. TESTIMONIAL AREA
10. VIDEO AREA
11. PRICING AREA
12. DOWNLOAD AREA
13. FAQ AREA
14. SUBCRIBE AREA
15. CONTACT AREA
16. FOOTER AREA

====================================================
            End table content 
===================================================*/


/*
* ----------------------------------------------------------------------------------------
* 00. BASE CSS
* ----------------------------------------------------------------------------------------
*/

body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.6;
}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    color: #222;
    line-height: 1.6;
}
p{
    color: #666;
    letter-spacing: 0.5px;
}
a, a:hover{
    text-decoration: none;
}
.spacer-50{
    height: 50px;
}
.spacer-100{
    height: 100px;
}
.spacer-30{
    height: 30px;
}
/*
* ----------------------------------------------------------------------------------------
* 01. PRELOADER
* ----------------------------------------------------------------------------------------
*/
.preloader {
    position:fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color:#fff;
    z-index:9999999;
}
.preloader .spinner {
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/*
* ----------------------------------------------------------------------------------------
* 02. SECTION TITLE AND PADDING
* ----------------------------------------------------------------------------------------
*/
.section-padding {
    padding: 100px 0;
}
.section-title{
    margin-bottom: 65px;
}
.section-title h2{
   text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
}
.section-title p{
    font-family: 'Satisfy', cursive;
    font-size: 22px;
}


/*
* ----------------------------------------------------------------------------------------
* 03. HEADER AREA
* ----------------------------------------------------------------------------------------
*/
.custom-navbar .logo a{
   max-width: 160px;
}
.custom-navbar .logo a.new_text_logo{
   max-width: 300px;
}
.new_text_logo h1{
	color: #fff;
    font-size: 42px;
    font-weight: 900;
}
.new_text_logo {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 2px 15px;
}
.custom-navbar ul li a {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    padding: 30px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.custom-navbar ul li a:hover{
    background: transparent;
}
.custom-navbar ul li a:focus, .custom-navbar.menu-top-fixed ul li a:hover {
    background: none;
}
.custom-navbar {
    background-color: transparent;
    border: 0 none;
    transition: all 0.4s ease-in-out;
}
.custom-navbar.menu-top-fixed .logo a h1{
    color: #333;
    border: 3px solid #333;
}
.custom-navbar.menu-top-fixed .logo a.new_text_logo h1{
	color:#0299f1;
    border: none;
}
.custom-navbar.menu-top-fixed {
background:#fff;
width: 100%;
 margin-top:0px;
    border-bottom: 1px solid #ddd;
}
.custom-navbar.menu-top-fixed ul li a {
    color: #666;
}
.custom-navbar.menu-top-fixed ul li.active a {
    color: #222;
}


/*
* ----------------------------------------------------------------------------------------
* 04. HOME AREA
* ----------------------------------------------------------------------------------------
*/
.home-area {
    height: 100%;
    position: relative;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
}
.home-area:before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: -1;
}

.welcome-text{
   text-align: left;
    padding-top: 210px;
}

.welcome-img img {
    width: 500px;
}
.welcome-img {
    padding-top: 100px;
}

.welcome-text h1 {
    font-size: 45px;
     color: #fff;
    font-weight: 400;
    line-height: 55px;
}
.welcome-text p{
    color: #fff;
}
.welcome-btn {
    margin-top: 45px;
}
.welcome-btn a {
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-right: 15px;
  padding: 14px 26px 15px 73px;
  text-decoration: none;
    transition: 0.4s;
    position: relative;
}
.welcome-btn a i.fa{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    left: 25px;
    top: 15px;
}
.welcome-btn a span{
    font-size: 16px;
    display: block;
    line-height: 22px;
    font-weight: 500;
}
.welcome-btn a span.text-large{
    display: block;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 700;
}
.welcome-btn a:hover{
    background: #fff;
    color: #0299f1;
}



/*
* ----------------------------------------------------------------------------------------
* 04.ABOUT AREA
* ----------------------------------------------------------------------------------------
*/
.about-content {
    background-color: #f7f7f7;
}
    .single-about img {
  margin-bottom: 30px;
}

.single-about {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    padding: 60px 30px;
    transition: all 0.3s ease 0s;
}
.single-about:hover{
box-shadow:0px 40px 60px rgba(0,0,0,0.1);
position:relative;
z-index:100;
transform: translate(0, -5px);
}
.single-about h5{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.single-about p{
    font-size: 14px;
}
.single-content {
    padding: 160px 0;
}
.block-img img {
  display: block;
  height: auto;
  max-width: 100%;
}

/*
* ----------------------------------------------------------------------------------------
* 05.CONTENT AREA
* ----------------------------------------------------------------------------------------
*/
.content-block {
    padding: 100px 0
}
.content-block-margin{
    height: 100px;
}
.single-content h3 {
  font-size: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
    font-weight: 700;
}
.single-content p {
  font-size: 14px;
  margin-bottom: 15px;
}
.single-content a {
    background: #0299f1 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 15px 32px;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.4s;
    font-weight: 500;
}
.single-content a:hover{
    opacity: 0.9;
}
.single-feature-content h5 {
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*
* ----------------------------------------------------------------------------------------
* 06.FEATURE AREA
* ----------------------------------------------------------------------------------------
*/


.feature-area.section-padding {
    background-color: #f7f7f7;
}
.col-md-4.no-padding {
    padding: 0;
}
.single-feature {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    padding: 30px;
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;
}
.single-feature:hover{
box-shadow:0px 10px 25px rgba(0,0,0,0.1);
position:relative;
z-index:100;
transform: translate(0, -5px);
}
.hover-efect.single-feature:hover{
    box-shadow:0px -10px 25px rgba(0,0,0,0.1);
position:relative;
z-index:100;
transform: translate(0px, 5px);
}
.feature-icon.pull-left {
    height: 50px;
    width: 45px;
}
.single-feature-content {
    padding-left: 25px;
}
.single-feature-content h5 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.single-feature-content.media-body p {
    
}

/*
* ----------------------------------------------------------------------------------------
* 08.SCREENSHOOT AREA
* ----------------------------------------------------------------------------------------
*/
.screenshots-area{
   
}
.app-screenshot{
   
}
.owl-dots {
  margin-top: 35px;
  text-align: center;
}
.owl-dots div {
  background: #333 none repeat scroll 0 0;
  display: inline-block;
  height: 5px;
  margin-left: 5px;
  width: 15px;
}
.owl-dots div.active{
    background: #0299f1;
}

/*
* ----------------------------------------------------------------------------------------
* 09.TESTIMONIAL AREA
* ----------------------------------------------------------------------------------------
*/
.testimonial-area{
   
}
.single-testimonial {
    margin-bottom: 30px;
}
.testimonial-content{
    background: #f4f5f6 none repeat scroll 0 0;
     position: relative;
    padding: 15px;
}
.testimonial-content:before {
  border-color: #f4f5f6 transparent transparent;
  border-style: solid;
  border-width: 20px 20px 0 0;
  bottom: -20px;
  content: "";
  height: 0;
  left: 40px;
  position: absolute;
  width: 0;
}
.testimonials-avtar {
   display: table-cell;
    vertical-align: middle;
    width: 70px;
}
.t-name{
    padding: 13px 0;
}
.testimonials-avtar img {
    border-radius: 50%;
    width: 100%;
}
.testimonials-name{
    margin-top: 30px;
}
.testimonials-name h4 {
  font-size: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
}
.testimonials-comment {
    font-size: 14px;
    padding-left: 25px;
    display: table-cell;
}

.t-author {
    padding-left: 85px;
}
.testimonial-area .owl-dots {
  margin-top: 35px;
  text-align: center;
}
.testimonial-area .owl-dots div {
  background: #333 none repeat scroll 0 0;
  display: inline-block;
  height: 5px;
  margin-left: 5px;
  width: 15px;
}
.testimonial-area .owl-dots div.active{
    background: #fff;
}

/*
* ----------------------------------------------------------------------------------------
* 10.VIDEO AREA
* ----------------------------------------------------------------------------------------
*/
.video-area.section-padding{
   padding: 180px 0;
}
.video-area {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    
}
.video-area::before {
    background: rgba(0, 0, 0, 0.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.video-container a {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 40px;
  height: 75px;
  line-height: 76px;
  margin-bottom: 0;
  text-align: center;
  transition: all 0.4s ease-in-out 0s;
  width: 160px;
}
.video-container a:hover{
    border: 2px solid #0299f1;
    color: #0299f1;
}
.video-container h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 25px 0;
  text-transform: uppercase;
}
.video-container p {
  color: #fff;
}

/*
* ----------------------------------------------------------------------------------------
* 11.PRICING AREA
* ----------------------------------------------------------------------------------------
*/
.pricing-area{
    background-color: #f7f7f7;
}
.single-pricing {
    border-radius: 5px;
    padding: 20px 0 25px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
}
.single-pricing.active{
    background: #ec1f27;
    color: #fff;
    box-shadow: 0 16px 25px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.single-pricing.active h4, .single-pricing.active h1, .single-pricing.active h1 small{
    color: #fff;
}

.single-pricing {
    color: #666;
}
.single-pricing h4 {
    color:#ec1f27;
    /* font-weight: 700; */
    /* letter-spacing: 1px; */
    /* text-transform: uppercase; */
}
.single-pricing h1, .single-pricing h1 small {
    color:#ec1f27;
}

.block-caption {
    font-size: 30px;
    font-weight: 700;
}
.single-pricing ul {
    list-style: outside none none;
    margin: 0 0 20px;
    padding: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.single-pricing ul li {
    
    padding: 10px 0;
}
.single-pricing a.btn-pricing-bg {
    border: 2px solid #ec1f27;
    color: #ec1f27;
    border-radius: 5px;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 25px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
}
.single-pricing a.btn-pricing-bg:hover{
    background: #ec1f27;
    color: #fff;
    border: 2px solid #ec1f27;
}
.single-pricing.active a.btn-pricing-bg{
    background: #fff;
    color:#ec1f27;

}
.single-pricing.active a.btn-pricing-bg:hover{
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}

/*
* ----------------------------------------------------------------------------------------
* 12. DOWNOAD AREA
* ----------------------------------------------------------------------------------------
*/
.download-area {
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center center;
}
.download-area:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.75);
    z-index: -1;
}
.download h2 {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    
}
.download p {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #fff;
}
.download-area-btn{
    margin-top: 60px;
}
.download-area-btn a {
  background: #fff;
    text-transform: capitalize;
  color: #666;
  padding: 16px 34px;
  font-size: 28px;
  font-weight: 600;
  margin-right: 36px;
  border-radius: 5px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    display: inline-block;
}
.download-area-btn a:hover{
    color: #fff;
    background: #0299f1;
}
.download-area-btn a i.fa{
    padding-right: 20px;
}

/*
* ----------------------------------------------------------------------------------------
* 13. FAQ AREA
* ----------------------------------------------------------------------------------------
*/
.panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #ddd;
    }

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #222;
    background-color: #f4f5f6;
    border-color: #ddd;
}

.panel-title {
    font-size: 14px;
    font-weight: 600;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}
.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
    background: #f7f7f7;
}
.faq-area .panel{
    margin-bottom: 20px;
}

/*
* ----------------------------------------------------------------------------------------
* 14. SUBCRIBE AREA
* ----------------------------------------------------------------------------------------
*/
.subscribe-area {
    background: #f7f7f7;
}
.subscribe-icon {
    margin-top: 20px;
    text-align: center;
}
.subscribe-form h3 {
  letter-spacing: 2px;
    margin-bottom: 32px;
  text-transform: uppercase;
}
.subscribe-icon a {
  border-radius: 50%;
  display: inline-block;
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  margin-left: 7px;
  width: 45px;
    color: #fff;
}
.subscribe-icon a:hover{
    opacity: 0.9;
}
.subscribe-icon a.facebook{background: #3b5998;}
.subscribe-icon a.twitter{background: #1a90d9;}
.subscribe-icon a.google{background: #ff5252;}
.subscribe-icon a.linkdin{background: #0077b5;}
.subscribe-icon a.youtube{background: #d32322 ;}
/*========================
     subscribe Form
==========================*/
.subscribe{
    position: relative;
    margin: 15px auto 0;
    padding: 0 100px;
}
.form-group.subscribe-area{
    margin-bottom: 0px;
}

.subform .form-control{
    background: transparent;
    width: 100%;
    color: #666;
    display: inline-block;
    line-height: 18px;
    font-size: 14px;
    height: 40px;
    box-shadow: none;
    border: 0px solid;
    border-bottom: 2px solid #666;
    border-radius: 0px;
    padding-left: 12px;
    text-align: center;
}
.subform .form-control:focus{
    border: 0px solid;
    border-bottom: 2px solid #333;
    box-shadow: none;
}
.submit-bt{
    color: #fff;
    font-size: 12px;
    padding: 16px 34px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 22px auto 0;
    background: #0299f1;
    border: 0px solid;
    font-weight: 600;
    border-radius: 0px;
    display: block;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}
.submit-bt:active, 
.submit-bt:focus, 
.submit-bt:hover {
    outline: none;
    box-shadow: none;
}
.submit-bt:hover, .btn-primary:hover{
      background: #3498dc;
    color: #fff;
    opacity: 0.9;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
   
}
.subform label {
  bottom: -20px;
  color: #fff;
  display: block;
  left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 5px #000;
  width: 100%;
    font-weight: 400;
}


/*
* ----------------------------------------------------------------------------------------
* 15. CONTACT AREA
* ----------------------------------------------------------------------------------------
*/
.contact .form-control {
  border-radius: 0px;
}
.btn-contact-bg {
    font-size: 12px;
    letter-spacing: 2px;
    padding: 15px 26px;
    text-transform: uppercase;
	transition: all 0.4s ease-in-out;
    background: #0299f1;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    transition: all 0.4s ease-in-out;
    background: #0299f1;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
}
.single-address {
    margin-bottom: 23px;
}
.single-address i.fa {
  color: #0299f1;
  float: left;
  font-size: 22px;
  height: 60px;
  line-height: 30px;
  margin-right: 20px;
  width: 30px;
}

.single-address h4 {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 500;
}


/*
* ----------------------------------------------------------------------------------------
* 16. FOOTER AREA
* ----------------------------------------------------------------------------------------
*/
.footer-area {
    background: #333 none repeat scroll 0 0;
    padding: 18px 0;
}
.footer-text p {
    color: #fff;
    margin: 0;
}

/*
* ----------------------------------------------------------------------------------------
* 17. BLOG AND SINGLE BLOG PAGE
* ----------------------------------------------------------------------------------------
*/
.blog-breadcroumb-area{
    text-align: center;
    background-size: cover;
    padding: 110px 0 110px;
    position: relative;
    z-index: 1;
}
.blog-breadcroumb-area:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: -1;
}
.blog-breadcroumb-area h1 {
    font-size: 46px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 0;
}
.breadcroumb {
    color: #fff;
    font-size: 16px;
}
.breadcroumb a {
    color: #fff;
}
.widget{
    margin-bottom: 40px;
}
.widget-title{
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
    font-weight: 600;
}

.search-form input[type="search"],
.search-form input[type="text"] {
    padding: 15px;
    border: 0px solid;
    background: transparent;
}

.search-form {
    border: 1px solid #ddd;
    width: 100%;
}
.search-form button[type="submit"] {
    border: 0px solid;
    background: transparent;
    float: right;
    padding: 15px;
}
.pagination ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.pagination ul li {
    display: inline-block;
}
.pagination ul li a {
    background-color: #ddd;
    color: #222;
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 7px 16px;
    margin-right: 4px;
    transition: 0.4s;
}
.pagination ul li a:hover, .widget.tags a:hover{
    background-color: #0299f1;
    color: #fff;
}
.pagination{
    margin: 0;
}
.pagination ul li.active a {
    background-color: #222;
    color: #fff;
}

.single_post{
    margin-bottom: 50px;
}

.single_post h2, .single_post-details h2 {
  margin: 20px 0 5px 0;
    font-size: 24px;
    font-weight: 600;
    
}
.single_post p{
    font-size: 16px;
    margin-bottom: 15px;
}
.single_post-details p{
    font-size: 14px;
}
.single_post-details blockquote {
  font-size: 16px;
  font-style: italic;
}
.post-meta{
    margin-bottom: 15px;
	margin-top: 15px;
    font-weight: 500;
}
.post-meta a,
.post-meta span{
    font-weight: 400;
    color: #222;
}
.read-more-btn {
  background-color: #222;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
}
.read-more-btn:hover{
    color: #fff;
    opacity: 0.9;
}
.comments-area ul.comment-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
h3.comment-title {
    margin-bottom: 30px;
    font-weight: 600;
}
h3.comment-form-title{
    margin-bottom: 20px;
    font-weight: 600;
}
.single_post-details {
    margin-bottom: 25px;
}
.comment-metadata h5 {
    margin-bottom: 0;
    font-weight: 600;
}
.comment-metadata p {
    color: #777;
    font-size: 12px;
}
.comment-reply-link {
    font-weight: 700;
    color: #222;
}
.comment-reply-link:hover {
    color: #222;
    opacity: 0.9;
}
.comment-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    padding-bottom: 25px;
}
.comment-item ul.children {
	list-style:none;
}
.comment-item ul.children .comment-item {
	border-bottom:none;
	border-top:1px solid #ddd;
	padding-bottom:0px;
	margin-bottom:0px;
	margin-top:30px;
	padding-top:25px;
}

.comment-form-wrap .form-control {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    color: #444;
    height: 45px;
}
.comment-form-wrap .form-control:focus{
     background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ddd;
}
.comment-form-wrap textarea.form-control {
    height: 150px;
    resize: none;
}
.comment-form-wrap button.btn {
    background-color: #222;
    color: #fff;
    padding: 12px 30px;
}
.btn-comment {
  background: #222 none repeat scroll 0 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 30px;
    box-shadow: none;
    border: 0px solid;
}