.inoxKUL
{
	margin:0px;
	padding:5px;
	padding-bottom:3px;
	border:solid 1px #7A7C80;
	background-color:#EDEEEF;
}

.inoxKUL .kulContainer
{
	background-color:white;
	width:100%;
	height:100%;
	overflow:auto;
}

.inoxKUL .kulContainerCover
{
	border:solid 1px #878E95;
	vertical-align:top;
}

.inoxKUL .kulTemplate
{
	display:none;
}



.inoxKUL .kulA
{
	display:block;
}

.inoxKUL .kulText
{
	display:none;
}

/*btnAdd*/
.inoxKUL .kulAdd
{
	display:block;
	float:left;
	width:70px;	
}

.inoxKUL .kulAdd .kulA
{
	width:68px;
	height:24px;
	background:url(btn_add.gif);
}
.inoxKUL .kulAddOver .kulA
{
	width:68px;
	height:24px;
	background:url(btn_add_over.gif);
}
/*btnUploadAll*/
.inoxKUL .kulUploadAll
{
	display:block;
	float:left;
	width:70px;	
}

.inoxKUL .kulUploadAll .kulA
{
	width:68px;
	height:24px;
	background:url(btn_uploadall.gif);
}
.inoxKUL .kulUploadAll .kulA:hover
{
	width:68px;
	height:24px;
	background:url(btn_uploadall_over.gif);
}
/*btnClearAll*/
.inoxKUL .kulClearAll
{
	display:block;
	float:right;
	width:70px;	
}

.inoxKUL .kulClearAll .kulA
{
	width:68px;
	height:24px;
	background:url(btn_clearall.gif);
}
.inoxKUL .kulClearAll .kulA:hover
{
	width:68px;
	height:24px;
	background:url(btn_clearall_over.gif);
}

/*Input File*/
.inoxKUL .kulFileInput
{
	display:block;
	width:68px;
	height:24px;
	overflow:hidden;
	margin-top:-24px;
	filter:alpha(opacity=0);
	-moz-opacity:0.0;
	opacity:0.0;
}
.inoxKUL .kulFileInput input
{
	margin-left:-145px;
}

/*Item*/

.inoxKUL .kulItem
{
	height:60px;
	background-color:white;
	border-bottom:solid 1px #E2E2E2;
	vertical-align:top;
	clear:both;
}

.inoxKUL .kulSelected
{
	background-color:#F3F3F3;
}


.inoxKUL .kulItem .kulText,
.inoxKUL .kulItem .kulA
{
	display:inline;
}
.inoxKUL .kulItem .kulA .kulText
{
	font-family:Verdana;
	font-size:8pt;
	color:blue;
	text-decoration:underline;
	cursor:pointer;
}
.inoxKUL .kulItem .kulUpload .kulA:hover .kulText,
.inoxKUL .kulItem .kulCancel .kulA:hover .kulText
{
	color:#2c3a8b;
	text-decoration:none;
}
.inoxKUL .kulItem .kulRemove .kulA:hover .kulText,
.inoxKUL .kulItem .kulDelete .kulA:hover .kulText
{
	color:crimson;
	text-decoration:none;
}


.inoxKUL .kulFileName
{
	font-family:Verdana;
	font-size:8pt;
	white-space:nowrap;
	cursor:default;
	display:block;
}

.inoxKUL .kulUpload,
.inoxKUL .kulRemove,
.inoxKUL .kulCancel,
.inoxKUL .kulDelete
{
	display:block;
	line-height:20px;
}

.inoxKUL .kulDeleted .kulRight
{
	display:none;
}

.inoxKUL .kulCancel,
.inoxKUL .kulDelete
{
	display:none;
}


.inoxKUL .kulUploading .kulUpload,
.inoxKUL .kulUploading .kulRemove,
.inoxKUL .kulDone .kulUpload,
.inoxKUL .kulDone .kulRemove,
.inoxKUL .kulDone .kulCancel
{
	display:none;
}

.inoxKUL .kulDone .kulDelete
{
    display: block;
}

.inoxKUL .kulUploading .kulCancel
{
	display:block;
}

.inoxKUL .kulNotAllowed .kulRemove
{
	display:block;
}


.inoxKUL .kulThumbnail
{
	display:block;
	width:32px;
	height:32px;
	background:url(ico_file.gif);
}
.inoxKUL .kulProgress
{
	display:none;
}
.inoxKUL .kulStatus
{
	display:none;
	font-family:Verdana;
	font-size:8pt;
	white-space:nowrap;
	cursor:default;
	color:#2c3a8b;
}
.inoxKUL .kulError
{
	color:red;
}

.inoxKUL .kulDone .kulStatus,
.inoxKUL .kulDeleted .kulStatus
{
	display:block;
}

.inoxKUL .kulProgress
{
	vertical-align:top;
}

.inoxKUL .kulProgress .kulBar
{
	width:123px;
	height:10px;
	background:url(progressbg_#2c3a8b.gif) no-repeat -123px;
}
/*Alternative bar in case the progressEnabled==false*/
.inoxKUL .kulProgress .kulAltBar
{
	width:96px;
	height:10px;
	background:url(progressbg_alt.gif);
}

.inoxKUL .kulProgress .kulText
{
	font-family:Verdana;
	font-size:8pt;
	white-space:nowrap;	
}


.inoxKUL .kulUploading .kulProgress
{
	display:block;
}


.inoxKUL .kulItem .kulLeft
{
	float:left;
	height:50px;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
}

.inoxKUL .kulItem .kulRight
{
	float:right;
	height:50px;
	padding-left:5px;
	padding-right:10px;
	padding-top:7px;
	vertical-align:top;
}

.inoxKUL .kulItem .kulMiddle
{
	height:45px;
	padding-top:12px;
	overflow:hidden;	
}
/*Hide iframe: this important, do not change*/
.inoxKUL .kulItem iframe
{
	display:none;
}
/*Hide form: this important, do not change*/
.inoxKUL .kulItem form
{
	display:none;
}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*Image for thumpnail*/
.inoxKUL .kuljpg
{
	background:url(ico_jpg.gif);
}
.inoxKUL .kulgif
{
	background:url(ico_gif.gif);
}

.inoxKUL .kulpng
{
	background:url(ico_png.gif);
}
.inoxKUL .kulbmp,
.inoxKUL .kulpic,
.inoxKUL .kultiff
{
	background:url(ico_image.gif);
}

.inoxKUL .kuldoc,
.inoxKUL .kuldocx
{
	background:url(ico_doc.gif);
}
.inoxKUL .kulxls,
.inoxKUL .kulxlsx
{
	background:url(ico_xls.gif);
}
.inoxKUL .kulmdb
{
	background:url(ico_mdb.gif);
}
.inoxKUL .kulppt
{
	background:url(ico_ppt.gif);
}
.inoxKUL .kulmdf
{
	background:url(ico_mdf.gif);
}
.inoxKUL .kuldll
{
	background:url(ico_dll.gif);
}
.inoxKUL .kulbat
{
	background:url(ico_bat.gif);
}
.inoxKUL .kulaspx
{
	background:url(ico_aspx.gif);
}
.inoxKUL .kulcs
{
	background:url(ico_cs.gif);
}
.inoxKUL .kulhtml,
.inoxKUL .kulhtm
{
	background:url(ico_html.gif);
}
.inoxKUL .kulini
{
	background:url(ico_ini.gif);
}
.inoxKUL .kuljar
{
	background:url(ico_jar.gif);
}
.inoxKUL .kuljs
{
	background:url(ico_js.gif);
}
.inoxKUL .kullib
{
	background:url(ico_lib.gif);
}
.inoxKUL .kulmp3
{
	background:url(ico_mp3.gif);
}
.inoxKUL .kulmpg
{
	background:url(ico_mpg.gif);
}
.inoxKUL .kulpdf
{
	background:url(ico_pdf.gif);
}
.inoxKUL .kulphp
{
	background:url(ico_php.gif);
}
.inoxKUL .kulrar,
.inoxKUL .kulzip,
.inoxKUL .kultgz
{
	background:url(ico_rar.gif);
}
.inoxKUL .kultxt
{
	background:url(ico_txt.gif);
}
.inoxKUL .kulvb
{
	background:url(ico_vb.gif);
}
.inoxKUL .kulwma
{
	background:url(ico_wma.gif);
}
.inoxKUL .kulxml
{
	background:url(ico_xml.gif);
}