.office2007KUL
{
	margin:0px;
	padding:5px;
	padding-bottom:3px;
	border:solid 1px #7A7C80;
	background-color:#fff;
}

.office2007KUL .kulContainer
{
	background-color:white;
	width:100%;
	height:100%;
	overflow:auto;
}

.office2007KUL .kulContainerCover
{
	border:solid 1px #aaa;
	vertical-align:top;
}

.office2007KUL .kulTemplate
{
	display:none;
}



.office2007KUL .kulA
{
	display:block;
}

.office2007KUL .kulText
{
	display:none;
}

/*btnAdd*/
.office2007KUL .kulAdd
{
	display:block;
	float:left;
	width:70px;	
}

.office2007KUL .kulAdd .kulA
{
	width:68px;
	height:24px;
	background:url(btn_add.gif);
}
.office2007KUL .kulAddOver .kulA
{
	width:68px;
	height:24px;
	background:url(btn_add_over.gif);
}
/*btnUploadAll*/
.office2007KUL .kulUploadAll
{
	display:block;
	float:left;
	width:70px;	
}

.office2007KUL .kulUploadAll .kulA
{
	width:68px;
	height:24px;
	background:url(btn_uploadall.gif);
}
.office2007KUL .kulUploadAll .kulA:hover
{
	width:68px;
	height:24px;
	background:url(btn_uploadall_over.gif);
}

/*btnClearAll*/
.office2007KUL .kulClearAll
{
	display:block;
	float:right;
	width:70px;	
}

.office2007KUL .kulClearAll .kulA
{
	width:68px;
	height:24px;
	background:url(btn_clearall.gif);
}
.office2007KUL .kulClearAll .kulA:hover
{
	width:68px;
	height:24px;
	background:url(btn_clearall_over.gif);
}
/*Input File*/
.office2007KUL .kulFileInput
{
	display:block;
	width:68px;
	height:24px;
	overflow:hidden;
	margin-top:-24px;
	filter:alpha(opacity=0);
	-moz-opacity:0.0;
	opacity:0.0;
}
.office2007KUL .kulFileInput input
{
	margin-left:-145px;
}

/*Item*/

.office2007KUL .kulItem
{
	height:60px;
	background-color:#ffffe8;
	border-bottom:solid 1px #e9ea92;
	vertical-align:top;
	clear:both;
}

.office2007KUL .kulSelected
{
	background-color:#ffffe8;
}


.office2007KUL .kulItem .kulText,
.office2007KUL .kulItem .kulA
{
	display:inline;
}
.office2007KUL .kulItem .kulA .kulText
{
	font-family:Verdana;
	font-size:8pt;
	color:#436a9e;
	text-decoration:underline;
	cursor:pointer;
}
.office2007KUL .kulItem .kulUpload .kulA:hover .kulText,
.office2007KUL .kulItem .kulCancel .kulA:hover .kulText
{
	color:#436a9e;
	text-decoration:none;
}
.office2007KUL .kulItem .kulRemove .kulA:hover .kulText,
.office2007KUL .kulItem .kulDelete .kulA:hover .kulText
{
	color:crimson;
	text-decoration:none;
}


.office2007KUL .kulFileName
{
	font-family:Verdana;
	font-size:8pt;
	white-space:nowrap;
	cursor:default;
	display:block;
}

.office2007KUL .kulUpload,
.office2007KUL .kulRemove,
.office2007KUL .kulCancel,
.office2007KUL .kulDelete
{
	display:block;
	line-height:20px;
}

.office2007KUL .kulDeleted .kulRight
{
	display:none;
}

.office2007KUL .kulCancel,
.office2007KUL .kulDelete
{
	display:none;
}


.office2007KUL .kulUploading .kulUpload,
.office2007KUL .kulUploading .kulRemove,
.office2007KUL .kulDone .kulUpload,
.office2007KUL .kulDone .kulRemove,
.office2007KUL .kulDone .kulCancel
{
	display:none;
}

.office2007KUL .kulDone .kulDelete
{
    display: block;
}

.office2007KUL .kulUploading .kulCancel
{
	display:block;
}

.office2007KUL .kulNotAllowed .kulRemove
{
	display:block;
}


.office2007KUL .kulThumbnail
{
	display:block;
	width:32px;
	height:32px;
	background:url(ico_file.gif);
}
.office2007KUL .kulProgress
{
	display:none;
}
.office2007KUL .kulStatus
{
	display:none;
	font-family:Verdana;
	font-size:8pt;
	white-space:nowrap;
	cursor:default;
	color:#436a9e;
}
.office2007KUL .kulError
{
	color:red;
}

.office2007KUL .kulDone .kulStatus,
.office2007KUL .kulDeleted .kulStatus
{
	display:block;
}

.office2007KUL .kulProgress
{
	vertical-align:top;
}

.office2007KUL .kulProgress .kulBar
{
	width:123px;
	height:10px;
	background:url(progressbg_#2c3a8b.gif) no-repeat -123px;
}
/*Alternative bar in case the progressEnabled==false*/
.office2007KUL .kulProgress .kulAltBar
{
	width:96px;
	height:10px;
	background:url(progressbg_alt.gif);
}

.office2007KUL .kulProgress .kulText
{
	font-family:Verdana;
	font-size:8pt;
	white-space:nowrap;	
}


.office2007KUL .kulUploading .kulProgress
{
	display:block;
}


.office2007KUL .kulItem .kulLeft
{
	float:left;
	height:50px;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
}

.office2007KUL .kulItem .kulRight
{
	float:right;
	height:50px;
	padding-left:5px;
	padding-right:10px;
	padding-top:7px;
	vertical-align:top;
}

.office2007KUL .kulItem .kulMiddle
{
	height:45px;
	padding-top:12px;
	overflow:hidden;	
}
/*Hide iframe: this important, do not change*/
.office2007KUL .kulItem iframe
{
	display:none;
}
/*Hide form: this important, do not change*/
.office2007KUL .kulItem form
{
	display:none;
}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*Image for thumpnail*/
.office2007KUL .kuljpg
{
	background:url(ico_jpg.gif);
}
.office2007KUL .kulgif
{
	background:url(ico_gif.gif);
}

.office2007KUL .kulpng
{
	background:url(ico_png.gif);
}
.office2007KUL .kulbmp,
.office2007KUL .kulpic,
.office2007KUL .kultiff
{
	background:url(ico_image.gif);
}

.office2007KUL .kuldoc,
.office2007KUL .kuldocx
{
	background:url(ico_doc.gif);
}
.office2007KUL .kulxls,
.office2007KUL .kulxlsx
{
	background:url(ico_xls.gif);
}
.office2007KUL .kulmdb
{
	background:url(ico_mdb.gif);
}
.office2007KUL .kulppt
{
	background:url(ico_ppt.gif);
}
.office2007KUL .kulmdf
{
	background:url(ico_mdf.gif);
}
.office2007KUL .kuldll
{
	background:url(ico_dll.gif);
}
.office2007KUL .kulbat
{
	background:url(ico_bat.gif);
}
.office2007KUL .kulaspx
{
	background:url(ico_aspx.gif);
}
.office2007KUL .kulcs
{
	background:url(ico_cs.gif);
}
.office2007KUL .kulhtml,
.office2007KUL .kulhtm
{
	background:url(ico_html.gif);
}
.office2007KUL .kulini
{
	background:url(ico_ini.gif);
}
.office2007KUL .kuljar
{
	background:url(ico_jar.gif);
}
.office2007KUL .kuljs
{
	background:url(ico_js.gif);
}
.office2007KUL .kullib
{
	background:url(ico_lib.gif);
}
.office2007KUL .kulmp3
{
	background:url(ico_mp3.gif);
}
.office2007KUL .kulmpg
{
	background:url(ico_mpg.gif);
}
.office2007KUL .kulpdf
{
	background:url(ico_pdf.gif);
}
.office2007KUL .kulphp
{
	background:url(ico_php.gif);
}
.office2007KUL .kulrar,
.office2007KUL .kulzip,
.office2007KUL .kultgz
{
	background:url(ico_rar.gif);
}
.office2007KUL .kultxt
{
	background:url(ico_txt.gif);
}
.office2007KUL .kulvb
{
	background:url(ico_vb.gif);
}
.office2007KUL .kulwma
{
	background:url(ico_wma.gif);
}
.office2007KUL .kulxml
{
	background:url(ico_xml.gif);
}